html,body {
	margin: 0;
	padding: 0;
    font-size: 0;
}

body{
    background-color: #2F4858;
    font-family: 'Akaya Telivigala', cursive;
}

.navigation{
    background-color: #33658A;
    animation-name: menuNav;
	animation-duration: 2s;
}
.navigation ul{
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    text-align: center;
    height: 60px;
}
.navigation li{
    display: inline-block;
    line-height: 60px;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.navigation a{
    text-decoration: none;
    color: #55DDE0;
}
.navigation a:hover{
    color: #004cff;
}
.navigation a:hover img{
    opacity: 1;
}
.navigation img{
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 13px;
    opacity: 0;
}

.capa{
    color: #55DDE0;
    vertical-align: top;
}
.capa div{
    display: inline-block;
    vertical-align: top;
    height: 550px;
}

.profile-foto{
    width: 40%;
    text-align: center;
    
}
.profile-foto img{
    width: 380px;
	border-radius: 380px;
    margin-top: 100px;
    animation-name: movRight;
    animation-duration: 1s;
}

.profile-name{
    width: 60%;
    vertical-align: top;   
}
.profile-name h1{
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 125px;
    animation-name: movDown;
    animation-duration: 1s;
}
.profile-name span{
    color: #004cff;
}
.profile-name h2{
    font-size: 30px;
    margin-top: -25px;  
    animation-name: movDown;
    animation-duration: 1s;
}
.profile-name img{
    width: 465px;
    height: 154px;
    margin-left: 50px;
    animation-name: movUp;
    animation-duration: 1s;
}

.main{
    padding: 40px 180px 80px 100px;
    animation-name: movRight;
    animation-duration: 1s;
}
.main h1{
    color:#55DDE0;
    font-size: 40px;
}
.main h3{
    color:#004cff;
    font-size: 20px;
}
.main p{
    color:#55DDE0;
    font-size: 20px;
}
.main img{
    float: left;
    width: 40px;
    height: 40px;
    margin: -10px 10px;
}
.caminho{
    font-size: 20px;
    list-style: none;
    color:#55DDE0;
    padding-left: 0;
}
.caminho li{
    display: inline-block;
}
.caminho a{
    color:#55DDE0;
}
.repart{
    float: left;
    width: 50%;
}
.back-link{
    margin-top: 300px;
    display: block;
    color:#004cff;
    font-size: 20px;
}
@keyframes menuNav {
	0% {opacity: 0;}
	100% {opacity: 1}
} 

@keyframes movLeft {
    0% {opacity: 0; transform: translate(20px,0);}
    100% {opacity: 1; transform: translate(0,0);}
}

@keyframes movRight{
    0% {opacity: 0; transform: translate(-20px,0);}
    100% {opacity: 1; transform: translate(0,0);}
}

@keyframes movDown{
    0% {opacity: 0; transform: translate(0,-20px);}
    100% {opacity: 1; transform: translate(0,0);}
}

@keyframes movUp{
    0% {opacity: 0; transform: translate(0,20px);}
    100% {opacity: 1; transform: translate(0,0);}
}